<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucu.cite.jobportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tracerlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tracerlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobPortal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".editpost"
            android:exported="false" />
        <activity
            android:name=".popuppost"
            android:exported="false" />
        <activity
            android:name=".commentinfo"
            android:exported="false" />
        <activity
            android:name=".postforum"
            android:exported="false" />
        <activity
            android:name=".trendinginfo"
            android:exported="false" />
        <activity
            android:name=".courseinfo"
            android:exported="false" />
        <activity
            android:name=".postinfo"
            android:exported="false" />
        <activity
            android:name=".alumni"
            android:exported="false" />
        <activity
            android:name=".eventinfoall"
            android:exported="false" />
        <activity
            android:name=".bookmarkinfo"
            android:exported="false" />
        <activity
            android:name=".employment"
            android:exported="false" />
        <activity
            android:name=".firstjob"
            android:exported="false" />
        <activity
            android:name=".advancestudy"
            android:exported="false" />
        <activity
            android:name=".generalinfo"
            android:exported="false" />
        <activity
            android:name=".registerno"
            android:exported="false" />
        <activity
            android:name=".location"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDtHvkNkzg3spOsjCUn_zwWwWKp8Xk7jEk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".CustomPlacePicker"
            android:exported="false" />
        <activity
            android:name=".newpassword"
            android:exported="false" />
        <activity
            android:name=".resetcode"
            android:exported="false" />
        <activity
            android:name=".forgotpassword"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".jobhiringinfoall"
            android:exported="false" />
        <activity
            android:name=".interested"
            android:exported="false" />
        <activity
            android:name=".profilepic"
            android:exported="false" />
        <activity
            android:name=".password"
            android:exported="false" />
        <activity
            android:name=".otherinfo"
            android:exported="false" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navheader"
            android:exported="false" />
        <activity
            android:name=".eventinfo"
            android:exported="false" />
        <activity
            android:name=".newsinfodata"
            android:exported="false" />
        <activity
            android:name=".newsinfo"
            android:exported="false" />
        <activity
            android:name=".jobhiringinfodata"
            android:exported="false" />
        <activity
            android:name=".jobhiringinfo"
            android:exported="false" />
        <activity android:name=".profile" />
        <activity android:name=".login" />
        <activity android:name=".jobportal" />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="Your Api Key" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>